@charset "UTF-8";
html {
  font-size: 62.5%;
  scroll-snap-type: y mandatory;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 16px; /* 1rem = 10px*/
}

img {
  max-width: 100%;
}

.header {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  position: relative;
  gap: 1rem;
}
.header__title {
  color: #F5F5DC;
  font-size: 2.1rem;
  font-family: "Cinzel", serif;
  text-transform: uppercase;
  font-weight: 500;
}
.header__title-name {
  text-align: center;
  font-size: 3rem;
  color: #D4AF37;
}
.header__music {
  margin-top: 19rem;
}
.header__music-button {
  width: 9rem;
  text-decoration: none;
  color: #D4AF37;
  border-bottom: 1px solid #D4AF37;
  padding: 0.5rem;
  font-family: "Playfair Display", serif;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-top: 1px solid #D4AF37;
  border-left: none;
  border-right: none;
}

.main__invitacion {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
}
.main__invitacion-title {
  font-size: 2.3rem;
  font-family: "Cinzel", serif;
  color: red;
}
.main__invitacion-text {
  font-family: "Roboto", serif;
  font-weight: 200;
  text-align: center;
  line-height: 1.2;
  width: 85%;
  font-size: 1.1rem;
  word-spacing: 0.1rem;
  font-style: italic;
}
.main__invitacion-text-edit {
  font-family: "Roboto", serif;
  font-weight: 200;
  text-align: center;
  line-height: 1.2;
  font-size: 1.1rem;
  word-spacing: 0.1rem;
  font-style: italic;
}
.main__contador {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}
.main__contador-title-1 {
  font-family: "Cinzel", serif;
  font-weight: 200;
  text-align: center;
  line-height: 1.2;
  font-size: 1.1rem;
  word-spacing: 0.1rem;
  font-style: italic;
}
.main__contador-fecha {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
}
.main__contador-fecha-num {
  font-size: 2rem;
  font-family: "Playfair Display", serif;
  color: #D4AF37;
  padding-bottom: 0.3rem;
  font-style: italic;
}
.main__contador-fecha-span {
  width: 0.1rem;
  height: 2rem;
  background-color: #D4AF37;
}
.main__contador-title {
  font-family: "Playfair Display", serif;
  padding: 1rem;
  font-style: italic;
}
.main__contador-box-calendar {
  margin-top: 2.5rem;
}
.main__contador-calendar {
  background-color: #F5F5DC;
  padding: 0.5rem;
  font-size: 0.9rem;
  color: #000;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
  font-family: "Roboto", serif;
  border-radius: 5px;
  width: 10rem;
}
.main__cuentaRegresiva {
  padding: 0.8rem;
  font-size: 2.5rem;
  border: solid 1px #D4AF37;
  color: #D4AF37;
  font-family: "Cinzel", serif;
  text-transform: uppercase;
}
.main__lugar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.7rem;
  height: -moz-fit-content;
  height: fit-content;
  gap: 1rem;
  padding: 1rem;
}
.main__lugar-info {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 1.5rem;
}
.main__lugar-foto {
  flex: 1;
  background-image: url(../img/templo.jpeg);
  height: 20rem;
  width: 20rem;
  background-size: cover;
  background-position: 75%;
}
.main__lugar-title {
  font-size: 2rem;
  font-family: "Cinzel", serif;
  font-weight: 500;
  color: #D4AF37;
}
.main__lugar-text {
  font-family: "Roboto", serif;
  font-size: 0.9rem;
  line-height: 1.3;
}
.main__lugar-text-span {
  font-style: italic;
  font-weight: 600;
}
.main__lugar-button {
  width: 9rem;
  text-decoration: none;
  color: #D4AF37;
  border: 1px solid #D4AF37;
  padding: 0.5rem;
  border-radius: 5px;
  font-family: "Roboto", serif;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__recepcion {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.7rem;
  height: -moz-fit-content;
  height: fit-content;
  gap: 1rem;
  padding: 1rem;
}
.main__recepcion-info {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 1.5rem;
}
.main__recepcion-foto {
  flex: 1;
  background-image: url(../img/templo.jpeg);
  height: 20rem;
  width: 20rem;
  background-size: cover;
  background-position: 75%;
}
.main__recepcion-title {
  font-size: 1.9rem;
  font-family: "Cinzel", serif;
  font-weight: 500;
  color: #D4AF37;
}
.main__recepcion-text {
  font-family: "Roboto", serif;
  font-size: 0.9rem;
  line-height: 1.3;
}
.main__recepcion-text-span {
  font-style: italic;
  font-weight: 600;
}
.main__recepcion-button {
  width: 9rem;
  text-decoration: none;
  color: #D4AF37;
  border: 1px solid #D4AF37;
  padding: 0.5rem;
  border-radius: 5px;
  font-family: "Roboto", serif;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__vestimenta {
  margin-top: 2.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  padding: 1rem;
}
.main__vestimenta-title {
  font-size: 2rem;
  font-family: "Cinzel", serif;
  font-weight: 500;
  color: #D4AF37;
}
.main__vestimenta-box-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.main__vestimenta-text {
  font-family: "Roboto", serif;
  font-weight: 200;
  text-align: center;
  line-height: 1.2;
  width: 85%;
  font-size: 1.1rem;
  word-spacing: 0.1rem;
  font-style: italic;
}
.main__vestimenta-text-important {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: 500;
  font-size: 1rem;
}
.main__vestimenta-box-color {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
}
.main__vestimenta-colors {
  width: 4rem;
  height: 1rem;
  border: 1px solid gray;
}
.main__vestimenta-color-1 {
  background-color: #F5F5DC;
}
.main__vestimenta-color-2 {
  background-color: #fff;
}
.main__vestimenta-color-3 {
  background-color: #a18262;
}
.main__album {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 4rem;
  gap: 1.5rem;
  background-color: #F5F5DC;
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.main__album-video {
  height: 4rem;
  width: 4rem;
}
.main__album-title {
  font-size: 1.5rem;
  font-family: "Roboto", serif;
  text-transform: uppercase;
}
.main__album-text {
  font-family: "Roboto", serif;
  font-weight: 300;
}
.main__album-button {
  width: 9rem;
  text-decoration: none;
  color: #000;
  border: 1px solid #000;
  padding: 0.8rem;
  border-radius: 5px;
  font-family: "Roboto", serif;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__form {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  padding: 4rem;
  background-color: #F5F5DC;
}
.main__form-title {
  font-family: "Roboto", serif;
  font-size: 2rem;
}
.main__form-text {
  font-family: "Roboto", serif;
  font-weight: 300;
  line-height: 1.5;
}
.main__form-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  padding-top: 1.5rem;
}
.main__form-box-label {
  font-family: "Roboto", serif;
  font-weight: 300;
  font-size: 0.9rem;
}
.main__form-box-label-radio {
  accent-color: #D4AF37;
  border: none;
}
.main__form-box-label-input-box {
  width: 20rem;
  height: 2.5rem;
  border-radius: 5px;
  font-size: 1rem;
  font-family: "Roboto", serif;
}
.main__form-box-label-texarea {
  width: 20rem;
  height: 7rem;
  border-radius: 5px;
  font-size: 1rem;
  font-family: "Roboto", serif;
}
.main__form-box-radio {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}
.main__form-button {
  width: 15rem;
  height: 2.5rem;
  background-color: transparent;
  border: solid 1px #000;
  color: #767676;
  font-size: 0.9rem;
  font-family: "Roboto", serif;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tracking-in-expand {
  animation: tracking-in-expand 2.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
header {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2); /* Oscurece solo el video */
  z-index: 1;
}

.contenido {
  position: relative;
  z-index: 2; /* Asegura que el texto esté encima de la capa oscura */
  color: white;
  text-align: center;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  padding-bottom: 10rem;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

/*@keyframes show{
  from{
    opacity: 0;
    scale: 25%;
  }

  to{
    opacity: 1;
    scale: 100%;
  }
}

img{
  view-timeline-name: --image;
  view-timeline-axis: --block;

  animation-timeline: --image;
  animation-name: show;

  animation-range: entry 25% cover 50%;
  animation-fill-mode: both;
}
*/
@keyframes show {
  from {
    opacity: 0;
    transform: scale(0.25);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes hide {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.25);
  }
}
img {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.tracking-in-expand-fwd-bottom {
  opacity: 0; /* Ocultar por defecto */
}

.tracking-in-expand-fwd-bottom.active {
  animation: tracking-in-expand-fwd-bottom 2.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  opacity: 1;
}

/**
 * ----------------------------------------
 * animation tracking-in-expand-fwd-bottom
 * ----------------------------------------
 */
@keyframes tracking-in-expand-fwd-bottom {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-700px) translateY(500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
@keyframes scale-up {
  to {
    scale: 1.5;
  }
}
@keyframes fade-away {
  to {
    opacity: 0;
  }
}
.contador {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
}

.unidad {
  padding: 20px;
  border: 1px solid #000;
  border-radius: 0px;
  text-align: center;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.unidad span {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  color: #000;
  font-family: "Cinzel", serif;
  font-weight: 200;
}

.unidad p {
  margin-top: 10px;
  font-size: 0.8rem;
  font-style: italic;
  color: #000;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
}

input[type=text],
textarea {
  background-color: #F5F5DC; /* Color normal */
  border: 1px solid #000; /* Borde normal */
  outline: none; /* Quita el borde azul predeterminado */
  transition: 0.3s; /* Suaviza el cambio */
}

input[type=text]:focus,
textarea:focus {
  border: 2px solid #d4af37; /* Borde dorado */
}

.carousel-container {
  display: flex;
  gap: 20px;
  overflow: hidden;
  width: 90vw;
  max-width: 400px;
  height: 300px;
  margin-top: 4rem;
  padding-left: 2.5rem;
}

.carousel {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 50%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.color-track {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: absolute;
  width: 100%;
  animation: scroll-up 30s linear infinite;
}

.carousel.right .color-track {
  animation: scroll-down 30s linear infinite;
}

.color-block {
  width: 100%;
  height: 50px;
  border-radius: 15px;
}

.color1 {
  background-image: url(../img/foto-prueba.JPG);
  background-size: cover;
  height: 10rem;
  width: 9rem;
}

.color2 {
  background-image: url(../img/foto-prueba.JPG);
  background-size: cover;
  height: 10rem;
  width: 9rem;
}

.color3 {
  background-image: url(../img/foto-prueba.JPG);
  background-size: cover;
  height: 10rem;
  width: 9rem;
}

.color4 {
  background-image: url(../img/foto-prueba.JPG);
  background-size: cover;
  height: 10rem;
  width: 9rem;
}

.color5 {
  background-image: url(../img/foto-prueba.JPG);
  background-size: cover;
  height: 10rem;
  width: 9rem;
}

.color6 {
  background-image: url(../img/foto-prueba.JPG);
  background-size: cover;
  height: 10rem;
  width: 9rem;
}

@keyframes scroll-up {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50%);
  }
}
@keyframes scroll-down {
  from {
    transform: translateY(-50%);
  }
  to {
    transform: translateY(0);
  }
}
body {
  margin: 0;
}

#preloader {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  z-index: 9999;
}

.half {
  width: 50%;
  height: 100%;
  background-color: #E0D5B7; /* Color dorado */
  position: absolute;
  transition: transform 1.5s ease-in-out;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.hidden {
  display: none;
}/*# sourceMappingURL=main.css.map */